/* effet machine à écrire (SIMPLE) */
.animate-text { 
	visibility:hidden;
  font-family:"courier",sans-serif;
  color:black; 
}

/* déco */
.animate-text { 
  width:250px; /* pour visualiser le passage a la ligne */
  border:1px dashed #ccc;
}

/* effet machine à écrire + animation CSS (SPECIAL) */
/*
.animate-text span { 
	display:inline-block;
  color:purple; 
  animation:fade-in 0.8s ease-in-out 1;
	animation-fill-mode: forwards;
}
@keyframes fade-in {
	0% { opacity:0; font-size:0; xxmargin-left:100px; }
  100% { opacity:1; xxfont-size:300%; xxtransform:rotate(360deg); margin-left:0; }
}
*/